<a href="https://colab.research.google.com/github/jiriyaporn/data_viz/blob/main/visualize_data_comparision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
import os

In [5]:

from datetime import date,datetime

In [24]:
data = pd.read_csv('/content/search_request.csv')
data

        Unnamed: 0                             search_id  ...        lat        long
0                0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.634739  101.463177
1                1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.800882  102.533777
2                2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.738260  100.371405
3                3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.666877  101.860838
4                4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.237242   99.879998
...            ...                                   ...  ...        ...         ...
703061      703071  984b8baf-c45e-4c7b-861e-9a00fbeda10d  ...  13.768203  100.586299
703062      703072  8943ca90-3254-41c4-a67c-eb6cb95f143e  ...  13.746205  100.534276
703063      703073  995f7724-6c34-47a3-9352-de52bebcb57a  ...  13.746234  100.534304
703064      703074  e6034f1d-b0cc-4e35-8623-e5be80629404  ...  13.746205  100.534276
703065      703075  1549301d-7c91-4b3e-8531-55d77142770d  ...        NaN         NaN

[703066 rows x 10 columns]

##เตรียมข้อมูล

In [25]:
data['search_timestamp']= pd.to_datetime(data['search_timestamp'],dayfirst=True,errors ='coerce') #เปลี่ยนข้อมูลให้เป็นTimsstamp
data

        Unnamed: 0                             search_id  ...        lat        long
0                0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.634739  101.463177
1                1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.800882  102.533777
2                2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.738260  100.371405
3                3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.666877  101.860838
4                4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.237242   99.879998
...            ...                                   ...  ...        ...         ...
703061      703071  984b8baf-c45e-4c7b-861e-9a00fbeda10d  ...  13.768203  100.586299
703062      703072  8943ca90-3254-41c4-a67c-eb6cb95f143e  ...  13.746205  100.534276
703063      703073  995f7724-6c34-47a3-9352-de52bebcb57a  ...  13.746234  100.534304
703064      703074  e6034f1d-b0cc-4e35-8623-e5be80629404  ...  13.746205  100.534276
703065      703075  1549301d-7c91-4b3e-8531-55d77142770d  ...        NaN         NaN

[703066 rows x 10 columns]

##Bar-chart

In [26]:
data["search_timestamp"] = pd.to_datetime(data["search_timestamp"])
data

        Unnamed: 0                             search_id  ...        lat        long
0                0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.634739  101.463177
1                1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.800882  102.533777
2                2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.738260  100.371405
3                3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.666877  101.860838
4                4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.237242   99.879998
...            ...                                   ...  ...        ...         ...
703061      703071  984b8baf-c45e-4c7b-861e-9a00fbeda10d  ...  13.768203  100.586299
703062      703072  8943ca90-3254-41c4-a67c-eb6cb95f143e  ...  13.746205  100.534276
703063      703073  995f7724-6c34-47a3-9352-de52bebcb57a  ...  13.746234  100.534304
703064      703074  e6034f1d-b0cc-4e35-8623-e5be80629404  ...  13.746205  100.534276
703065      703075  1549301d-7c91-4b3e-8531-55d77142770d  ...        NaN         NaN

[703066 rows x 10 columns]

###Quiz6

In [27]:
top_table = data.iloc[:10,:]
top_table

   Unnamed: 0                             search_id  ...        lat        long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.634739  101.463177
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.800882  102.533777
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.738260  100.371405
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.666877  101.860838
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.237242   99.879998
5           5  4c048ac7-9fc7-49e8-9ee4-20ff755b939d  ...  12.853119  101.108515
6           6  3ecf13ba-be4d-4eb9-9374-a1cca09d1614  ...  12.451104  102.248522
7           7  a7e6b7c5-3d3c-4337-8337-d29c5346b686  ...  13.640855  100.433287
8           8  02fedb5c-c9cd-46d7-9354-7613ecb7cfdd  ...  13.720904  100.527299
9           9  e215d487-0450-4794-830a-ecfc0ab6493b  ...  13.720835  100.527152

[10 rows x 10 columns]

In [28]:
top_table[top_table['search_timestamp'].dt.dayofweek == 3]

   Unnamed: 0                             search_id  ...        lat        long
0           0  683de889-f923-494e-9d46-44a3d67b7259  ...  12.634739  101.463177
1           1  4a811230-ffa4-4631-a4c8-5d0394137d02  ...  14.800882  102.533777
2           2  7ad6ee8e-438e-4bea-9183-74dcef9e358e  ...  13.738260  100.371405

[3 rows x 10 columns]

In [29]:
top_table[top_table['search_timestamp'].dt.dayofweek == 4]

   Unnamed: 0                             search_id  ...        lat        long
5           5  4c048ac7-9fc7-49e8-9ee4-20ff755b939d  ...  12.853119  101.108515
6           6  3ecf13ba-be4d-4eb9-9374-a1cca09d1614  ...  12.451104  102.248522
7           7  a7e6b7c5-3d3c-4337-8337-d29c5346b686  ...  13.640855  100.433287
8           8  02fedb5c-c9cd-46d7-9354-7613ecb7cfdd  ...  13.720904  100.527299
9           9  e215d487-0450-4794-830a-ecfc0ab6493b  ...  13.720835  100.527152

[5 rows x 10 columns]

In [30]:
top_table[top_table['search_timestamp'].dt.dayofweek == 5]

   Unnamed: 0                             search_id  ...        lat        long
3           3  0c17a5f5-fa89-40f4-ae94-a8659268f827  ...  12.666877  101.860838
4           4  6870dc3a-5602-44fc-80ed-df0a7783df9d  ...  12.237242   99.879998

[2 rows x 10 columns]

In [32]:
plt.bar([1,2,3,4,5,6,7],[data[data['search_timestamp']]])

NameError: ignored